body {
    color: blueviolet;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

body:hover {
    background-color: salmon;
    color: aliceblue;
}

div {
    background-color: blueviolet;
    color: blueviolet;
}

div:hover {
    background-color: salmon;
    color: aliceblue;
}

input {
    background-color: blueviolet;
    color: blueviolet;
}

input:hover {
    background-color: salmon;
    color: aliceblue;
}

form {
    border: 10px solid slateblue;
    box-shadow: 0 0 20px slateblue;
    border-radius: 20px;
    transform: scale(4);
}

#sum:hover {
    transform: scale(1.9);
    background-color: cadetblue;
}

#reset:hover {
    transform: scale(1.9);
    background-color: brown;
}